/* Styling for standard Header and Footer for React projects for Odin */
/* HEADER STYLES */
.App-header-footer {
    padding: 8px;
    background-color: darkslategray;
    color: white;
}

#header {
    min-height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* FOOTER STYLES */
#attributions a {
    color: lightblue;
}

#footer {
    min-height: 4vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ICON STYLES */
.React-logo {
    height: 5vh;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.React-logo {
    animation: logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.footerLogo {
    color: white;
    transition: transform 0.3s ease-in-out;
}

.footerLogo:hover {
    transform: rotate(360deg);
}