:root {
    --main-color: lightblue;
    --second-color: darkslategray;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#gameBox {
    min-height: calc(100vh - 300px);
    position: relative;
    padding-bottom: 60px;
}

/* Card Section */
.card {
    border: 2px solid black;
    margin: 8px;
}

.card:hover {
    color: var(--main-color);
    background-color: var(--second-color);
}

.card > img {
    width: auto;
}

/* End Card Section */
/* Card Container Section */

#cardContainer {
    display: grid;
    gap: 4px;
    padding: 4px;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(5, clamp(200px, 20%, 400px));
}

/* End Card Container Section */
/* Score Board Section */
#infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#scoreTable, #cardNumberInput {
    margin: 20px;
}

#scoreTable th, td {
    padding: 5px;
}

/* End Score Board Section */
/* General Section */

.invisible {
    visibility: hidden;
}

iframe:hover {
    border: 1px solid white;
}