:root {
    --main-color: lightblue;
    --second-color: darkslategray;
}

/* Card Section */
.card {
    border: 2px solid black;
    margin: 8px;
}

.card:hover {
    color: var(--main-color);
    background-color: var(--second-color);
}

/* End Card Section */
/* Card Container Section */

#cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

/* End Card Container Section */
/* Score Board Section */
#infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#scoreTable, #cardNumberInput {
    margin: 20px;
}

#scoreTable th, td {
    padding: 5px;
}

/* End Score Board Section */
/* General Section */

.invisible {
    visibility: hidden;
}

iframe:hover {
    border: 1px solid white;
}